<table>
    <thead>
        <tr>
            <th rowspan="2">ID</th>
            <th rowspan="2">Name</th>
            <th rowspan="2">Age</th>
            <th rowspan="1" colspan="2">Address</th>

        </tr>
        <tr>
            <th> City</th>
            <th> Street</th>
        </tr>
    </thead>
    <tbody *ngFor = "let e of emps">
        <tr>
            <td><a routerLink =  "{{e.id}}">{{e.id}}</a></td>
            <td>{{e.name}}</td>
            <td>{{e.age}}</td>
            <td>{{e.address.city}}</td>
            <td>{{e.address.street}}</td>


        </tr>

    </tbody>
</table>